.main_rd_bots {
    height: calc(100vh - 12rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    overflow-y: auto;
}

/* Bot Card Styling */
.bot-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
}

.bot-card-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.bot-card-description {
    line-height: 1.5;
    margin-bottom: 15px;
}

.bot-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bot-card-start-button {
    background-color: var(--button-primary-default);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bot-card-recommended-badge {
    background-color: #f44336;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

/* RD components Styling */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Adds a semi-transparent background */
    z-index: 1000; /* Ensures the modal is on top of other elements */
}

.modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 95%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rd-trade-page,
.rd-config {
    position: relative; /* These components are now inside modal-content */
    width: 100%; /* Ensures they take up the modal width */
    box-sizing: border-box;
}
.rd-trade-page {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    text-align: center;
    height: 90%;
}

.rd-trade-page-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.win-loss,
.tp-sl {
    text-align: left;
}

.win-loss p,
.tp-sl p {
    margin: 0;
    font-size: 18px;
}

.win {
    color: #008000;
}

.loss {
    color: #ff0000;
}

.rd-trade-page-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.configure-button,
.start-button,
.stop-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.configure-button {
    background-color: #000;
    color: #fff;
}

.start-button {
    background-color: #008000;
    color: #fff;
}
.stop-button {
    background-color: rgb(255, 34, 71);
    color: #fff;
}

.rd-trade-page-console {
    background-color: #000;
    color: #038003;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
    height: 70%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    overflow-y: auto;
}

.bot-ready {
    color: #008000;
}

.rd-config {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin: 0 auto;
    z-index: 2;
}

.rd-config-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.rd-config-header h3 {
    margin: 0;
    font-size: 18px;
}

.rd-close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000;
}

.rd-config-form .form-group {
    margin-bottom: 15px;
}

.rd-config-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.rd-config-form input,
.rd-config-form select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.save-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.current_tick h3 {
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0px;
}

.number-list {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
    justify-content: center;
}

.number-item {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.green {
    background-color: #28a745;
}

.red {
    background-color: #dc3545;
}

/* Responsive (Mobile) */
@media (max-width: 720px) {
    /* .main_rd_bots{
        height: 100%;
    } */

    .modal-content {
        width: 100%;
    }
}
