.main_copy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 500px; /* Set max height to 500px */
    position: relative; /* Add relative positioning */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff0000; /* Red */
    color: #ffffff; /* White */
    border: none; /* Remove border */
    padding: 5px 10px; /* Add padding for better appearance */
    border-radius: 4px; /* Add border radius for rounded corners */
    cursor: pointer; /* Add cursor pointer */
}

.main_copy .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5px;
    margin-bottom: 0.1rem;
} 

.main_copy .title h1 {
    font-size: 0.8rem;
}

.main_copy .title.dark_active h1 {
    color: #fff;
}

.main_copy .title small {
    color: #00a79e;
}


.input_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input_content input,
.input_content button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #f7fffe;
}
.input_content button {
    color: #ff6f47;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
}

.input_content button:hover {
    background: #ff6f47;
    color: #fff;
}

.input_content.dark_active {
    color: #fff;
}

.enable_sync {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-top: 5px;
}

.enable_disable {
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    gap: 5px;
}
.enable_sync button {
    padding: 6px;
    font-size: 14px;
    border-radius: 2px;
    color: #000;
}

.enable_sync button:hover {
    background: #00a79e;
}

.tokens-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 70%; /* Set max height to 70% of the dialog's height */
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
    width: 100%;
}

.tokens-list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.token {
    margin: 0.5rem;
    background: #fff;
    font-size: 1.5rem;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
    width: calc(100% - 1rem);
    padding: 0.5rem;
}

.token-info {
    font-size: 14px;
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
}


/* Add media query if needed */
/*@media (max-width: 720px) {
    .tokens-container {
        max-height: calc(70vh - 150px); // Adjust max-height as needed
    }
}*/
